
body {
    background-color: #1921FF;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
  font-family: "Karla", sans-serif;
  font-weight: 800;
  font-size: 48px;
  z-index: 1;
}

p{
    font-size: 18px;
}

#container{
    width: 500px;
}

#underline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#underline {
    width: 100%;
    margin-top: -48px;
}